* {
  padding: 0;
  border: 0;
  margin:0;
}

body{
  background-color: #ebebeb;
}
#board {
  display: block;
  background-color: #fff;
  margin: 70px;
  position: relative;
}
#myItems{
  top:0;
  left: 0;
  height: 500px;
  width: 1000px;
  position: absolute; 
  margin: 70px;
  z-index: 2;
}
#axis{
  display: block;
  top:0;
  left: 0;
  position: absolute; 
  margin: 70px;
  z-index: 1;
}
#matchPointer{
  display: block;
  top:0;
  left: 0;
  position: absolute; 
  margin: 70px;
  z-index: 1;
}
